@media screen and (min-width: 0px) {


  /* ---------- Header ---------- */
  .header {
    position: sticky;
    border-bottom: 1px solid #e6e6e6;
    padding: 8px 0;
    margin-bottom: 40px;
    top: 0;
    background-color: #fff;
    font-family: var(--font-family-headline);
    z-index: 100;
  }

  .headerInner {
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
  }

  .logoImage {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
  }

  .nav {
    display: flex;
    gap: 20px;
  }

  .navLink {
    font-size: 14px;
    color: #242424;
    text-decoration: none;
    cursor: pointer;
  }

  .navLink:hover {
    opacity: 0.7;
  }
}