.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}

@media screen and (min-width: 0px) {
  .main {
    margin: 0 16px;
    max-width: 458px;
  }
}

@media screen and (min-width: 480px) {
  .main {
    margin: 0 16px;
    max-width: 768px;
  }
}

@media screen and (min-width: 800px) {
  .main {
    margin: 0 auto;
  }
}

/* Container */
.blog-container {
  max-width: 720px;
  margin: 0 auto;
}

/* Blog Card */
.blog-post {
  background: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 40px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Image */
.blog-post img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

/* Content */
.blog-content {
  padding: 20px 24px 28px;
}

/* Date */
.blog-date {
  font-size: 0.85rem;
  color: #888;
  margin-bottom: 8px;
}

/* Title */
.blog-title {
  font-size: 2.25rem;
  font-weight: 600;
  margin-bottom: 12px;
  color: #111;
}

/* Description */
.blog-description {
  font-size: 1rem;
  color: #555;
}